{% load static %}
<!DOCTYPE html>
<html lang="en">
{% load render_bundle from webpack_loader %}

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="{% static 'favicon.ico' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="Routine management for Students and Teachers" />
  <link rel="apple-touch-icon" href="{% static 'logo192.png' %}" />
  <link rel="manifest" href="{% static 'manifest.json' %}" />
  <title>Student Hut</title>
  {% render_bundle 'main' 'css' %}
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
  {% render_bundle 'undefined' %}
  {% render_bundle 'main' %}
</body>
</head>
